html {
  background-color: #F4F4F4;
}
a {
  text-decoration: none;
  color: black;
  
}
#app {
  position: relative;
  min-height: 100vh;
}
.header-psa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c3c3c3;
  padding: 1rem 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0rem;
}
.flex {
  display: flex;
}
p {
  color: #666666;
}
.roundedBorder{
  border: 1px solid black;
  border-radius: 4px;
}

